$mobile : 360px;
$tablet : 760px;
$pc : 1400px;

@mixin device($min, $max) {
    @media (min-width:$min) and (max-width:$max) {
        @content;
    }

}

@mixin deviceMax($max) {
    @media (max-width:$max) {
        @content;
    }

}

@include device($mobile, $pc ) {
    header {
        div.header-container {
            display: none;
        }

        div.header-menu {
            div.gnb-wrapper {
                div.m-header-top {
                    display: block;
                }

                div.logo-box {
                    text-align: left;
                    max-width: 130px;
                    padding-left: 30px;

                    div.btn-box {
                        display: block;

                        img {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }

    footer {}
}

@include deviceMax(851px) {
    header {
        div.header-menu {
            div.gnb-wrapper {
                div.menu-box {
                    div.all-cate {
                        margin-right: 0px;

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@include deviceMax($tablet) {
    header {
        div.header-menu {
            div.gnb-wrapper {
                div.m-header-top {
                    display: none;
                }

                div.logo-box {
                    text-align: left;
                    max-width: 130px;
                    padding-left: 20px;

                    a {
                        img {
                            width: 100%;
                        }
                    }

                    div.btn-box {
                        display: block;
                        position: absolute;
                        top: 47px;
                        left: 140px;

                        img {
                            margin-bottom: 5px;
                        }
                    }
                }

                div.menu-box {
                    padding-left: 20px;

                    div.all-cate {
                        display: none;
                    }

                    div.serch-box {
                        display: none;
                    }

                    div.sub-menu {
                        ul {
                            li {
                                margin-left: 30px;

                                &:nth-child(1) {
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        div.footer-container {
            div.footer-content {
                div.call-list {
                    div.call-box {
                        div {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@include deviceMax(1000px) {
    header {
        div.header-menu {
            div.tab-container {
                div.tab-content {
                    div.tab-banner-container {
                        display: none;
                    }
                }
            }
        }

    }

    footer {
        div.side-bar {
            display: none;
        }

        div.footer-container {
            div.footer-content {
                div.callFamly-box {
                    select {
                        display: none;
                    }
                }

                div.footer-box01 {
                    display: none;
                }

                ul {
                    display: block;
                }

                div.footer-icon-box {
                    display: none;
                }
            }
        }

        div.footer-media {
            display: block;
        }
    }
}