@charset "UTF-8";
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Noto+Sans+KR&display=swap");
body {
  margin: 0;
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  word-break: keep-all;
}

img {
  width: 100%;
}

/*------------------ header-----------------------*/
header {
  line-height: 1.3;
  font-family: "Heebo", "Noto Sans KR", "sans-serif", "Arial", "NotoSansCJK", "NanumSquare", "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", "dotum", "돋움";
  position: relative;
  /*------------------ header gnb -----------------------*/
}
header div.header-container {
  background: #f7f7f7;
}
header div.header-container div.header-top {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}
header div.header-container div.header-top div.header-top-menu {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
header div.header-container div.header-top div.header-top-menu ul {
  display: flex;
  align-items: center;
}
header div.header-container div.header-top div.header-top-menu ul li a {
  padding: 15px;
  font-size: 12px;
}
header div.header-container div.header-top div.header-top-menu ul li a::before {
  content: "";
  width: 1px;
  height: 14px;
  background: #eee;
  display: block;
  position: absolute;
  left: 0;
  top: 17px;
}
header div.header-container div.header-top div.header-top-menu ul li:nth-child(1) a::before {
  content: "";
  width: 0px;
}
header div.header-container div.header-top ul.mall-list {
  display: flex;
  width: 30%;
  margin-top: 10px;
}
header div.header-container div.header-top ul.mall-list li {
  width: 50%;
  text-align: center;
}
header div.header-container div.header-top ul.mall-list li a {
  display: flex;
  flex-direction: column;
}
header div.header-container div.header-top ul.mall-list li a span {
  color: #14008c;
}
header div.header-container div.header-top ul.mall-list li a strong {
  font-size: 16px;
  font-weight: 500;
}
header div.header-container div.header-top ul.mall-list li:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
header div.header-container div.header-top ul.mall-list li:nth-child(2) a span {
  color: #8e8e8e;
}
header div.header-container div.header-top ul.mall-list li:nth-child(2) a strong {
  color: #8e8e8e;
}
header div.header-menu div.gnb-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
header div.header-menu div.gnb-wrapper div.logo-box {
  text-align: center;
}
header div.header-menu div.gnb-wrapper div.logo-box a h1 {
  display: none;
}
header div.header-menu div.gnb-wrapper div.logo-box a img {
  width: 175px;
  margin: 40px 0 25px;
  height: 26px;
}
header div.header-menu div.gnb-wrapper div.menu-box {
  display: flex;
  margin-bottom: 10px;
}
header div.header-menu div.gnb-wrapper div.menu-box div.all-cate {
  font-size: 18px;
  margin-right: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
header div.header-menu div.gnb-wrapper div.menu-box div.all-cate a div {
  background: url(../img/newmain_icons.png) no-repeat;
  width: 26px;
  height: 27px;
  float: left;
  padding-right: 10px;
  background-position: -211px;
}
header div.header-menu div.gnb-wrapper div.menu-box div.sub-menu {
  font-size: 18px;
  margin-top: 10px;
}
header div.header-menu div.gnb-wrapper div.menu-box div.sub-menu ul {
  display: flex;
}
header div.header-menu div.gnb-wrapper div.menu-box div.sub-menu ul li {
  margin-right: 60px;
}
header div.header-menu div.gnb-wrapper div.menu-box div.serch-box {
  transform: translate(250%);
}
header div.header-menu div.gnb-wrapper div.menu-box div.serch-box div {
  display: inline-block;
}
header div.header-menu div.gnb-wrapper div.menu-box div.serch-box div input {
  border-style: none;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  font-family: "Noto";
  color: #333;
  line-height: 35px;
  box-sizing: border-box;
  background: #fff;
  height: 35px;
  padding: 0 10px;
  outline: none;
}
header div.header-menu div.gnb-wrapper div.menu-box div.serch-box button {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 13px;
  vertical-align: middle;
  background: none;
  outline: none;
  border-radius: 0;
  font-family: "Noto", "맑은고딕", sans-serif;
  border-style: none;
}
header div.header-menu div.gnb-wrapper div.menu-box div.serch-box button div {
  background: url(../img/newmain_icons.png) no-repeat;
  height: 20px;
  width: 20px;
  background-position: -186px;
  margin: 7px 10px;
}

footer {
  border-top: 1px solid #e4e4e4;
  background: #fafafa;
  /* side bar */
}
footer div.footer-container {
  max-width: 1400px;
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 10px;
}
footer div.footer-container div.footer-content {
  /* footer icon */
}
footer div.footer-container div.footer-content div.callFamly-box {
  display: flex;
  justify-content: space-between;
}
footer div.footer-container div.footer-content div.callFamly-box div {
  display: flex;
  align-items: center;
}
footer div.footer-container div.footer-content div.callFamly-box div p {
  font-size: 17px;
}
footer div.footer-container div.footer-content div.callFamly-box div span {
  font-size: 30px;
  font-weight: bold;
  color: #14008c;
  padding-left: 20px;
  letter-spacing: -0.02em;
  line-height: 25px;
}
footer div.footer-container div.footer-content div.call-list {
  margin-top: 50px;
  line-height: 26px;
}
footer div.footer-container div.footer-content div.call-list p {
  color: #757575;
}
footer div.footer-container div.footer-content div.call-list div.call-box div span {
  color: #757575;
}
footer div.footer-container div.footer-content div.call-list div.call-box div span.call-title {
  padding-right: 10px;
}
footer div.footer-container div.footer-content div.call-list div.call-box div span.call-number {
  padding-right: 50px;
}
footer div.footer-container div.footer-content div.footer-icon-box ul.footer-sns-icon {
  float: right;
  display: flex;
}
footer div.footer-container div.footer-content div.footer-icon-box ul.footer-sns-icon li {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
footer div.footer-container div.footer-content div.footer-icon-box ul.footer-sns-icon li a {
  display: block;
  height: 100%;
  background: url(../img/footer_sns_2.png) no-repeat center;
  background-position: 0px center;
}
footer div.footer-container div.footer-content div.footer-icon-box ul.footer-sns-icon li:nth-child(2) a {
  background-position: -40px center;
}
footer div.footer-container div.footer-content div.footer-icon-box ul.footer-sns-icon li:nth-child(3) a {
  background-position: -80px center;
}
footer div.footer-container div.footer-content div.footer-icon-box ul.footer-sns-icon li:nth-child(4) a {
  background-position: -120px center;
}
footer div.footer-container div.footer-content div.footer-icon-box ul.footer-sns-icon li:nth-child(5) {
  margin-right: 0px;
}
footer div.footer-container div.footer-content div.footer-icon-box ul.footer-sns-icon li:nth-child(5) a {
  background-position: -160px center;
}
footer div.footer-container div.footer-content div.sub-logo {
  max-width: 140px;
  height: 30px;
  margin-top: 50px;
}
footer div.footer-container div.footer-content div.footer-box01 {
  margin-top: 30px;
}
footer div.footer-container div.footer-content div.footer-box01 span {
  font-size: 15px;
  color: #757575;
  margin-right: 30px;
}
footer div.footer-container div.footer-content div.footer-box01 span:nth-last-child(1) {
  margin-right: 0px;
}
footer div.footer-container div.footer-content div.footer-box01 span.bold {
  font-weight: bold;
}
footer div.footer-container div.footer-content div.footer-box02 {
  margin-top: 20px;
}
footer div.footer-container div.footer-content div.footer-box02 span {
  color: #757575;
  margin-right: 20px;
  line-height: 25px;
}
footer div.footer-container div.footer-content div.footer-box03 span {
  color: #757575;
  margin-right: 20px;
  line-height: 25px;
}
footer div.footer-container div.footer-content div.footer-box03 span.licens-btn {
  background: #aaa;
}
footer div.footer-container div.footer-content div.footer-box03 span.licens-btn a {
  padding: 0px 3px;
  color: #fff;
}
footer div.footer-container div.footer-content div.footer-box04 {
  margin: 50px 0px;
}
footer div.footer-container div.footer-content div.footer-box04 span {
  font-size: 12px;
}
footer div.side-bar {
  height: 140px;
  width: 55px;
  display: flex;
  flex-direction: column;
  background-color: #161982;
  position: fixed;
  top: 50%;
  right: 0;
}
footer div.side-bar a div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 70px;
  color: #fff;
  font-size: 12px;
}
footer div.side-bar a div.top-icon {
  width: 55px;
  height: 70px;
}
footer div.side-bar a div.top-icon div.icon {
  width: 16px;
  height: 20px;
  background: url(../img/newmain_icons.png) no-repeat;
  color: #fff;
  background-position-x: -5px;
}/*# sourceMappingURL=common.css.map */