body div.popup-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
}
body div.popup-background div.popup-container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
body div.popup-background div.popup-container div.popup-content-box {
  width: 2450px;
  position: absolute;
}
body div.popup-background div.popup-container div.popup-content-box div.btn-box {
  position: absolute;
  left: 140px;
  bottom: 10%;
}
body div.popup-background div.popup-container div.popup-content-box div.btn-box ul {
  display: flex;
}
body div.popup-background div.popup-container div.popup-content-box div.btn-box ul li {
  margin-left: 10px;
}
body div.popup-background div.popup-container div.popup-content-box div.btn-box ul li:nth-child(1) a {
  background-color: red;
}
body div.popup-background div.popup-container div.popup-content-box div.btn-box ul li a {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 999;
}
body div.popup-background div.popup-container div.popup-content-box div.popup-slide {
  height: 500px;
}
body div.popup-background div.popup-container div.popup-content-box div.popup-slide div.popup-content {
  display: inline-block;
  width: 350px;
}
body div.popup-background div.popup-container div.popup-content-box div.popup-slide div.popup-content a {
  /* width: 100%; */
}
body div.popup-background div.popup-container div.popup-content-box div.popup-slide div.popup-content a img {
  width: 100%;
  display: block;
}
body div.popup-background div.popup-container div.popup-content-box div.popup-text-container {
  width: 350px;
  background-color: #fff;
  text-align: center;
  display: flex;
  padding: 10px 0;
  position: absolute;
}
body div.popup-background div.popup-container div.popup-content-box div.popup-text-container div {
  width: 50%;
}
body div.popup-background div.popup-container div.popup-content-box div.popup-text-container div a {
  color: #aaa;
  padding: 0 25px;
  font-size: 14px;
}
body div.popup-background div.popup-container div.popup-content-box div.popup-text-container div:nth-child(2) {
  text-align: right;
}
body div.popup-background div.popup-container div.popup-content-box div.popup-text-container div:nth-child(2) a {
  color: #000;
}

/*------------------ main -----------------------*/
main {
  /*------------------main visual -----------------------*/
  /*------------------ main content -----------------------*/
}
main div.visual-box {
  position: relative;
}
main div.visual-box div.img-box-list {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
main div.visual-box div.img-box-list div.img-box {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 4s;
  /* animation: v-slied 20s infinite; 
  @keyframes v-slied {
      20%{
         left:-1903px;
      }
      40%{
          left:-3806px;
      }
      60%{
          left:-5709px;
      }
      80%{
          left:-7612px;
      }
      100%{
          left:-9515px;
      }
  } */
}
main div.visual-box div.img-box-list div.img-box:nth-child(1) {
  opacity: 1;
}
main div.visual-box div.img-box-list div.img-box a img {
  width: 100%;
}
main div.visual-box button {
  border: 0;
  outline: 0;
  cursor: pointer;
}
main div.visual-box button.slide:nth-of-type(1) {
  position: absolute;
  left: 10%;
  top: 50%;
  background: url(../img/main_slide_arr.png) no-repeat;
  width: 50px;
  height: 50px;
  font-size: 0;
  transform: translate(-50%, -50%);
}
main div.visual-box button.slide:nth-of-type(2) {
  position: absolute;
  right: 10%;
  top: 50%;
  background: url(../img/main_slide_arr.png) no-repeat;
  background-position: 100%;
  width: 50px;
  height: 50px;
  font-size: 0;
  transform: translate(-50%, -50%);
}
main div.visual-box ul {
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0);
  width: 50%;
}
main div.visual-box ul li {
  width: 13%;
}
main div.visual-box ul li button {
  width: 100%;
  height: 3px;
}
main div.visual-box ul li:nth-child(1) button {
  height: 5px;
}
main div.main-container {
  padding: 0px 20px;
  /*------------------ stroy -----------------------*/
  /*------------------ new porduct -----------------------*/
  /*------------------ youtube -----------------------*/
  /*------------------ celeb -----------------------*/
  /* reivew */
  /* instar */
  /* sns */
  /* banner */
  /* notice */
}
main div.main-container div.cate-visual {
  max-width: 1400px;
  display: flex;
  margin: 100px auto;
  text-align: center;
}
main div.main-container div.cate-visual div.cate-icon {
  text-align: center;
  margin-right: 45px;
}
main div.main-container div.cate-visual div.cate-icon a div.icon-box {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  overflow: hidden;
}
main div.main-container div.cate-visual div.cate-icon a div.icon-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main div.main-container div.cate-visual div.cate-icon a div.title-box {
  margin: 40px 0px 20px;
  font-size: 18px;
}
main div.main-container div.cate-visual div.cate-icon a div.title-box span br {
  display: none;
}
main div.main-container div.emons-story-container {
  max-width: 1400px;
  margin: 0 auto;
}
main div.main-container div.emons-story-container h2 {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
main div.main-container div.emons-story-container div.specevent_visual {
  display: flex;
  overflow-x: auto;
}
main div.main-container div.emons-story-container div.specevent_visual div.specevent_icon {
  margin-right: 10px;
  flex-shrink: 0;
  padding-bottom: 20px;
}
main div.main-container div.emons-story-container div.specevent_visual div.specevent_icon a img {
  width: 100%;
  border-radius: 10px;
}
main div.main-container div.emons-story-container div.specevent_visual div.specevent_icon a div {
  margin-top: 35px;
  padding: 0 10px;
}
main div.main-container div.emons-story-container div.specevent_visual div.specevent_icon a div span {
  font-size: 22px;
  font-weight: bold;
}
main div.main-container div.emons-story-container div.specevent_visual div.specevent_icon a div p {
  margin-top: 5px;
  font-size: 18px;
}
main div.main-container div.emons-story-container div.specevent_visual div.specevent_icon:nth-child(3) {
  margin-right: 0px;
}
main div.main-container div.wrap-new-product {
  margin: 140px auto;
  max-width: 1400px;
  text-align: center;
  padding: 0px 20px;
}
main div.main-container div.wrap-new-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
main div.main-container div.wrap-new-product div.new-product-list ul {
  display: flex;
  justify-content: center;
}
main div.main-container div.wrap-new-product div.new-product-list ul li {
  width: 110px;
  height: 50px;
  border-radius: 30px;
  background: #f2f4f5;
  color: #565656;
  text-align: center;
  line-height: 50px;
  font-size: 17px;
  margin: 0 7px;
  cursor: pointer;
}
main div.main-container div.wrap-new-product div.new-product-list ul li:nth-child(1) {
  background-color: #ffffff;
  border: 1px solid #17008f;
}
main div.main-container div.wrap-new-product div.new-product-list ul li:nth-child(1) a {
  color: #17008f;
}
main div.main-container div.wrap-new-product div.product-img-container {
  margin-top: 50px;
  display: flex;
}
main div.main-container div.wrap-new-product div.product-img-container div.main-img-box-container {
  width: 50%;
  margin-right: 10px;
}
main div.main-container div.wrap-new-product div.product-img-container div.main-img-box-container div.main-img-box {
  width: 100%;
  height: 100%;
  max-width: 680px;
  max-height: 720px;
  border-radius: 10px;
  overflow: hidden;
}
main div.main-container div.wrap-new-product div.product-img-container div.sub-img-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main div.main-container div.wrap-new-product div.product-img-container div.sub-img-container div.sub-img-box {
  display: flex;
  margin-bottom: 20px;
}
main div.main-container div.wrap-new-product div.product-img-container div.sub-img-container div.sub-img-box a {
  width: 100%;
  max-width: 340px;
  max-height: 350px;
  border-radius: 10px;
  overflow: hidden;
}
main div.main-container div.wrap-new-product div.product-img-container div.sub-img-container div.sub-img-box a:nth-child(1) {
  margin-right: 20px;
}
main div.main-container div.wrap-new-product div.product-img-container div.sub-img-container div.sub-img-box:nth-child(2) {
  margin-bottom: 0px;
}
main div.main-container div.youtube-container {
  margin: 10px auto 0px;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
main div.main-container div.youtube-container div.sub-text-box {
  display: none;
  padding: 40px 0px 220px;
}
main div.main-container div.youtube-container div.sub-text-box span:nth-child(1) {
  font-size: 20px;
}
main div.main-container div.youtube-container div.sub-text-box span:nth-child(2) {
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
}
main div.main-container div.youtube-container div.sub-text-box span:nth-child(2) br {
  display: none;
}
main div.main-container div.youtube-container div.play-box {
  width: 100%;
  max-width: 900px;
}
main div.main-container div.youtube-container div.play-box div.youtube-play {
  position: relative;
  padding-bottom: 56.25%;
}
main div.main-container div.youtube-container div.play-box div.youtube-play a {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
main div.main-container div.youtube-container div.play-box div.youtube-play a img {
  border-radius: 10px;
}
main div.main-container div.youtube-container div.play-box div.youtube-play a span {
  background: url(../img/btn_video_play.png) no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 85px;
  height: 85px;
  transform: translate(-50%, -50%);
}
main div.main-container div.youtube-container div.play-box div.youtube-play iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}
main div.main-container div.youtube-container div.youtube-list-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
main div.main-container div.youtube-container div.youtube-list-container div.text-box {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 220px;
}
main div.main-container div.youtube-container div.youtube-list-container div.text-box span:nth-child(1) {
  font-size: 20px;
}
main div.main-container div.youtube-container div.youtube-list-container div.text-box span:nth-child(2) {
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
}
main div.main-container div.youtube-container div.youtube-list-container div.slide-button {
  display: flex;
  justify-content: right;
}
main div.main-container div.youtube-container div.youtube-list-container div.slide-button button {
  border-style: none;
  background: url(../img/select.jpg) no-repeat center center;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
main div.main-container div.youtube-container div.youtube-list-container div.slide-button button:nth-child(1) {
  transform: rotate(90deg);
}
main div.main-container div.youtube-container div.youtube-list-container div.slide-button button:nth-of-type(2) {
  transform: rotate(-90deg);
}
main div.main-container div.youtube-container div.youtube-list-container div.slide-button span {
  padding-top: 3px;
}
main div.main-container div.youtube-container div.youtube-list-container div.slide-button span b {
  font-weight: bold;
}
main div.main-container div.youtube-container div.youtube-list-container div.youtube-list-box ul {
  display: flex;
}
main div.main-container div.youtube-container div.youtube-list-container div.youtube-list-box ul li {
  width: 147px;
  overflow: hidden;
  cursor: pointer;
}
main div.main-container div.youtube-container div.youtube-list-container div.youtube-list-box ul li img {
  border-radius: 5px;
  margin: 5%;
  width: 90% !important;
}
main div.main-container div.youtube-container div.youtube-list-container div.youtube-list-box ul li div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 8px !important;
}
main div.main-container div.youtube-container div.youtube-list-container div.youtube-list-box ul li:nth-child(1) {
  background: #282828;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 5px;
}
main div.main-container div.youtube-container div.youtube-list-container div.youtube-list-box ul li:nth-child(1) div {
  color: #ffffff;
}
main div.main-container div.celeb-visual-container {
  position: relative;
  overflow: hidden;
  padding: 0px 20px;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list {
  max-width: 1400px;
  margin: 150px auto 150px;
  overflow: hidden;
  position: relative;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list button {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 50%;
  color: #fff;
  transform: translate(0, -50%);
  border: none;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(172deg) brightness(103%) contrast(101%);
}
main div.main-container div.celeb-visual-container div.celeb-visual-list button.slide-left {
  background: url(../img/chevron-left.svg);
}
main div.main-container div.celeb-visual-container div.celeb-visual-list button.slide-right {
  background: url(../img/chevron-right.svg);
  right: 0%;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list div.celeb-view-box {
  display: flex;
  position: relative;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list div.celeb-view-box div {
  width: 467px;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list div.celeb-view-box div a {
  position: relative;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list div.celeb-view-box div a img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list div.celeb-view-box div a div.celeb-text-box {
  position: relative;
  top: -15%;
  margin-left: 15px;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list div.celeb-view-box div a div.celeb-text-box p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list div.celeb-view-box div a div.celeb-text-box div {
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 10px;
}
main div.main-container div.celeb-visual-container div.celeb-visual-list div.celeb-view-box div:hover div.celeb-text-box div {
  color: #000000;
  background-color: #fff;
}
main div.main-container div.review-container {
  background: #f3f4f6;
  margin-top: 150px;
  padding: 40px 40px;
}
main div.main-container div.review-container h2 {
  padding: 0px 0px 30px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
main div.main-container div.review-container div.visual-box button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 60px;
  transform: translateY(-100%);
  z-index: 1;
  background: url(../img/newmain_slide_arr.png) no-repeat;
}
main div.main-container div.review-container div.visual-box button.right {
  right: 10%;
  transform: translateX(100%);
  background-position-x: -30px;
}
main div.main-container div.review-container div.visual-box button.left {
  left: 10%;
  transform: translateX(-100%);
}
main div.main-container div.review-container div.visual-box div.review-list-box {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list {
  display: flex;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box {
  width: 350px;
  flex-shrink: 0;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-visual {
  max-width: 290px;
  padding: 15px;
  background: #fff;
  margin: 0 auto;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-visual a img {
  border-radius: 10px;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-visual div.review-text div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-visual div.review-text div:nth-of-type(1) {
  text-align: left;
  margin-top: 25px;
  padding: 0 8px;
  font-size: 16px;
  font-weight: bold;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-visual div.review-text div:nth-of-type(2) {
  text-align: left;
  margin-top: 10px;
  padding: 0 8px;
  font-size: 15px;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-visual div.review-text div:nth-of-type(3) {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  padding: 0 8px;
  padding-bottom: 30px;
  position: relative;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-visual div.review-text div:nth-of-type(3)::after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #eee;
  display: block;
  position: absolute;
  bottom: 0px;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-prod {
  margin-top: 20px;
  display: flex;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-prod a {
  width: 80px;
  height: 80px;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-prod a img {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-prod div.review-sub-text {
  max-width: 190px;
  padding-left: 15px;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-prod div.review-sub-text div.heart-box {
  float: right;
  background: url(../img/heart-thin-outline.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 9px;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-prod div.review-sub-text div {
  float: left;
  width: 100%;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-prod div.review-sub-text div p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  letter-spacing: -0.02em;
  font-weight: bold;
  margin-bottom: 5px;
}
main div.main-container div.review-container div.visual-box div.review-list-box div.review-list div.review-visual-box div.review-prod div.review-sub-text div span {
  font-size: 13px;
}
main div.main-container div.instar-container {
  padding: 0px 20px;
}
main div.main-container div.instar-container div.instar-content {
  max-width: 1400px;
  margin: 150px auto 0px;
  text-align: center;
}
main div.main-container div.instar-container div.instar-content h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2rem;
}
main div.main-container div.instar-container div.instar-content h3 {
  margin: 0 0 50px;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}
main div.main-container div.instar-container div.instar-content div.visual-instar ul {
  display: flex;
}
main div.main-container div.instar-container div.instar-content div.visual-instar ul li {
  margin-right: 25px;
}
main div.main-container div.instar-container div.instar-content div.visual-instar ul li a img {
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
main div.main-container div.instar-container div.instar-content div.visual-instar ul li:nth-last-child(1) {
  margin-right: 0px;
}
main div.main-container div.instar-container div.instar-content div.m-visual {
  display: flex;
  justify-content: center;
  display: none;
}
main div.main-container div.instar-container div.instar-content div.m-visual a {
  width: 40%;
  margin: 5px;
}
main div.main-container div.instar-container div.instar-content div.m-visual a img {
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
main div.main-container div.sns-btn-box {
  margin: 60px auto;
  padding: 0px 20px;
}
main div.main-container div.sns-btn-box div {
  display: flex;
  justify-content: center;
}
main div.main-container div.sns-btn-box div ul {
  display: flex;
}
main div.main-container div.sns-btn-box div ul li {
  width: 45px;
  height: 45px;
  background: url(../img/sns_more_btn.png) no-repeat;
  background-size: cover;
  margin: 0 6px;
  opacity: 0.6;
}
main div.main-container div.sns-btn-box div ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
main div.main-container div.sns-btn-box div ul li:nth-child(2) {
  background-position-x: -45px;
}
main div.main-container div.sns-btn-box div ul li:nth-child(3) {
  background-position-x: -90px;
}
main div.main-container div.sns-btn-box div ul li:nth-child(4) {
  background-position-x: -135px;
}
main div.main-container div.sns-btn-box div ul li:nth-child(5) {
  background-position-x: -180px;
}
main div.main-container div.sns-btn-box div ul li:hover {
  opacity: 1;
}
main div.main-container div.info-banner {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  border-bottom: 1px solid #e4e4e4;
}
main div.main-container div.info-banner div.banner-box {
  border: 5px;
  margin-right: 20px;
}
main div.main-container div.info-banner div.banner-box a img {
  width: 100%;
  border-radius: 5px;
}
s main div.main-container div.info-banner div.banner-box:nth-last-child(1) {
  margin-right: 0px;
}
main div.main-container div.notice-container {
  max-width: 1400px;
  margin: 0px auto;
}
main div.main-container div.notice-container div.notice-content-box {
  position: relative;
  padding: 40px 0px;
}
main div.main-container div.notice-container div.notice-content-box div.notice-content {
  display: flex;
  align-items: center;
}
main div.main-container div.notice-container div.notice-content-box div.notice-content h2 {
  width: 140px;
  float: left;
  font-size: 24px;
  font-weight: bold;
}
main div.main-container div.notice-container div.notice-content-box div.notice-content div.notice-list-box {
  float: left;
  height: 24px;
  width: 100%;
  overflow: hidden;
}
main div.main-container div.notice-container div.notice-content-box div.notice-content div.notice-list-box div.notice-list {
  height: 24px;
  -webkit-animation: notice-ani 20s infinite;
          animation: notice-ani 20s infinite;
}
@-webkit-keyframes notice-ani {
  25% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-24px);
  }
  50% {
    transform: translateY(-48px);
  }
  75% {
    transform: translateY(-72px);
  }
  100% {
    transform: translateY(-96px);
  }
}
@keyframes notice-ani {
  25% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-24px);
  }
  50% {
    transform: translateY(-48px);
  }
  75% {
    transform: translateY(-72px);
  }
  100% {
    transform: translateY(-96px);
  }
}
main div.main-container div.notice-container div.notice-content-box div.notice-content div.notice-list-box div.notice-list ul li a p {
  font-size: 16px;
  display: inline-block;
}
main div.main-container div.notice-container div.notice-content-box div.notice-content div.notice-list-box div.notice-list ul li a span {
  display: inline-block;
  margin-left: 40px;
  color: #cecece;
  font-weight: lighter;
  font-size: 16px;
}
main div.main-container div.notice-container div.notice-content-box div.button-box {
  float: right;
  position: relative;
  top: -15px;
}
main div.main-container div.notice-container div.notice-content-box div.button-box button {
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background: url(../img/newmain_icons.png) no-repeat;
  transform: translate(0, -50%);
  cursor: pointer;
}
main div.main-container div.notice-container div.notice-content-box div.button-box button.button-left {
  background-position: -76px;
  position: absolute;
  left: -100px;
}
main div.main-container div.notice-container div.notice-content-box div.button-box button.button-rigth {
  background-position: -109px;
  position: absolute;
  left: -50px;
}

@media (max-width: 760px) {
  main div.main-container div.wrap-new-product div.product-img-container div.main-img-box-container {
    width: 100%;
  }
  main div.main-container div.wrap-new-product div.product-img-container div.sub-img-container {
    width: 100%;
  }
  main div.main-container div.instar-container div.instar-content h2 {
    font-size: 1.6rem;
  }
  main div.main-container div.instar-container div.instar-content div.visual-instar {
    display: none;
  }
  main div.main-container div.instar-container div.instar-content div.m-visual {
    display: flex;
  }
}
@media (max-width: 1000px) {
  main div.main-container div.notice-container {
    padding-bottom: 30px;
  }
  main div.main-container div.notice-container div.notice-content-box div.notice-content div.notice-list-box {
    position: absolute;
    bottom: 0;
  }
  main div.main-container div.notice-container div.notice-content-box div.notice-content div.notice-list-box div.notice-list ul li a {
    width: 100%;
  }
  main div.main-container div.notice-container div.notice-content-box div.notice-content div.notice-list-box div.notice-list ul li a p {
    width: 70%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  main div.main-container div.notice-container div.notice-content-box div.notice-content div.notice-list-box div.notice-list ul li a span {
    display: inline-block;
  }
  main div.main-container div.review-container h2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 360px) and (max-width: 1400px) {
  main div.main-container div.cate-visual div.cate-icon a div.title-box span br {
    display: block;
  }
  main div.main-container div.info-banner {
    display: block;
  }
  main div.main-container div.info-banner div.banner-box {
    margin: 0 auto;
    width: 70%;
    padding: 20px 0px;
  }
  main div.main-container div.info-banner div.banner-box:nth-child(2) {
    margin: 0 auto;
  }
  main div.main-container div.wrap-new-product {
    margin-bottom: 0px;
  }
  main div.main-container div.wrap-new-product div.product-img-container {
    flex-direction: column;
    align-items: center;
  }
  main div.main-container div.wrap-new-product div.product-img-container div.main-img-box-container {
    margin-bottom: 20px;
  }
  main div.main-container div.wrap-new-product div.product-img-container div.sub-img-container {
    flex-direction: column;
  }
  main div.main-container div.youtube-container {
    flex-direction: column;
    max-width: 900px;
  }
  main div.main-container div.youtube-container div.sub-text-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    text-align: left;
  }
  main div.main-container div.youtube-container div.sub-text-box span {
    line-height: 1.3;
  }
  main div.main-container div.youtube-container div.sub-text-box span:nth-child(2) br {
    display: block;
  }
  main div.main-container div.youtube-container div.youtube-list-container {
    width: 100%;
    margin-left: 0px;
  }
  main div.main-container div.youtube-container div.youtube-list-container div.text-box {
    display: none;
  }
  main div.main-container div.youtube-container div.youtube-list-container div.youtube-list-box ul li {
    width: 32%;
  }
  main div.main-container div.celeb-visual-container div.celeb-visual-list {
    overflow-x: scroll;
    margin-bottom: 0px;
  }
  main div.main-container div.review-container div.visual-box button {
    display: none;
  }
  main div.main-container div.review-container div.visual-box div.review-list-box {
    overflow-x: scroll;
  }
}
@media (min-width: 700px) and (max-width: 1400px) {
  main div.main-container {
    justify-content: center;
  }
  main div.main-container div.cate-visual {
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
  }
  main div.main-container div.cate-visual div.cate-icon {
    margin-right: 20px;
  }
}
@media (min-width: 360px) and (max-width: 700px) {
  main div.main-container {
    justify-content: center;
  }
  main div.main-container div.cate-visual {
    width: 360px;
    flex-wrap: wrap;
    justify-content: center;
  }
  main div.main-container div.cate-visual div.cate-icon {
    margin-right: 10px;
  }
  main div.main-container div.cate-visual div.cate-icon a div.icon-box {
    width: 70px;
    height: 70px;
  }
  main div.main-container div.cate-visual div.cate-icon a div.title-box {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */