body {
    div.popup-background {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
        display: none;

        div.popup-container {
            position: relative;
            top: 50%;
            left: 50%;
            width: 350px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            transform: translate(-50%, -50%);

            div.popup-content-box {
                width: 2450px;
                position: absolute;

                div.popup-slide {
                    width: 350px;
                    height: 500px;

                    div.popup-content {
                        a {

                            img {
                                width: 100%;

                            }
                        }

                    }

                    .slick-dots {
                        position: absolute;
                        bottom: 17px;
                        left: 50%;
                        transform: translate(-50%, 0);

                        >li {
                            margin-right: 3px;
                            float: left;

                            >button {
                                width: 12px;
                                height: 12px;
                               
                                border-radius: 50%;
                                text-indent: -10000px;

                            }

                            &.slick-active {
                                >button {
                                    background-color: #14008c;
                                }
                            }
                        }
                    }
                }

                div.popup-text-container {
                    width: 350px;
                    background-color: #fff;
                    text-align: center;
                    display: flex;
                    padding: 10px 0;
                    position: absolute;

                    div {
                        width: 50%;

                        a {
                            color: #aaa;
                            padding: 0 25px;
                            font-size: 14px;
                        }

                        &:nth-child(2) {
                            text-align: right;

                            a {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*------------------ main -----------------------*/
main {

    /*------------------main visual -----------------------*/
    div.visual-box {
        position: relative;

        div.img-box-list {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-wrap: nowrap;

            div.img-box {
                width: 100%;
                flex-shrink: 0;
                position: relative;
                top: 0;
                left: 0;

                a {
                    img {
                        width: 100%;
                    }
                }
            }

            >button {
                cursor: pointer;
                position: absolute;
                top: 50%;
            }

            >button:nth-of-type(1) {
                left: 10%;
                background: url(../img/main_slide_arr.png) no-repeat;
                width: 50px;
                height: 50px;
                font-size: 0;
                transform: translate(-50%, -50%);
                z-index: 1;

            }

            >button:nth-of-type(2) {
                right: 10%;
                background: url(../img/main_slide_arr.png) no-repeat;
                background-position: 100%;
                width: 50px;
                height: 50px;
                font-size: 0;
                transform: translate(-50%, -50%);

            }

            .view-slick-dots {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%, 0);

                >li {
                    float: left;
                    cursor: pointer;

                    >button {
                        width: 100px;
                        height: 3px;
                        background-color: #fff;
                        text-indent: -9999px;
                    }

                    &.slick-active {
                        >button {
                            background-color: red;
                        }

                    }
                }
            }
        }
    }

    /*------------------ main content -----------------------*/
    div.main-container {
        padding: 0px 20px;

        div.cate-visual {
            max-width: 1400px;
            display: flex;

            margin: 100px auto;

            text-align: center;

            div.cate-icon {
                text-align: center;
                margin-right: 35px;

                a {
                    div.icon-box {
                        width: 135px;
                        height: 135px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    div.title-box {
                        margin: 40px 0px 20px;
                        font-size: 18px;

                        span {
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        /*------------------ stroy -----------------------*/
        div.emons-story-container {
            max-width: 1400px;
            margin: 0 auto;

            h2 {
                margin-bottom: 40px;
                font-weight: bold;
                font-size: 30px;
                text-align: center;
            }

            div.specevent_visual {
                display: flex;
                overflow-x: auto;

                div.specevent_icon {
                    margin-right: 10px;
                    flex-shrink: 0;
                    padding-bottom: 20px;

                    a {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }

                        div {
                            margin-top: 35px;
                            padding: 0 10px;

                            span {
                                font-size: 22px;
                                font-weight: bold;
                            }

                            p {
                                margin-top: 5px;
                                font-size: 18px;
                            }
                        }
                    }
                }

                div.specevent_icon:nth-child(3) {
                    margin-right: 0px;
                }
            }
        }

        /*------------------ new product -----------------------*/
        div.wrap-new-product {
            margin: 140px auto;
            max-width: 1400px;
            text-align: center;
            padding: 0px 20px;

            h2 {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 40px;
            }

            div.new-product-list {
                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        width: 110px;
                        height: 50px;
                        border-radius: 30px;
                        background: #f2f4f5;
                        color: #565656;
                        text-align: center;
                        line-height: 50px;
                        font-size: 17px;
                        margin: 0 7px;
                        cursor: pointer;

                        &.active {
                            background-color: #ffffff;
                            border: 1px solid #17008f;

                            a {
                                color: #17008f;
                            }
                        }
                    }
                }
            }

            div.product-img-container {
                margin-top: 50px;
                display: flex;

                div.main-img-box-container {
                    width: 50%;
                    margin-right: 10px;

                    div.main-img-box {
                        width: 100%;
                        height: 100%;
                        max-width: 680px;
                        max-height: 720px;
                        border-radius: 10px;
                        overflow: hidden;
                    }
                }

                div.sub-img-container {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    div.sub-img-box {
                        display: flex;
                        margin-bottom: 20px;

                        a {
                            width: 100%;

                            max-width: 340px;
                            max-height: 350px;
                            border-radius: 10px;

                            overflow: hidden;
                        }

                        a:nth-child(1) {
                            margin-right: 20px;
                        }
                    }

                    div.sub-img-box:nth-child(2) {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        /*------------------ youtube -----------------------*/
        div.youtube-container {
            margin: 10px auto 0px;
            max-width: 1400px;
            display: flex;
            justify-content: space-between;
            padding: 0px 20px;

            div.sub-text-box {
                display: none;
                padding: 40px 0px 220px;

                span {
                    &:nth-child(1) {
                        font-size: 20px;
                    }

                    &:nth-child(2) {
                        margin-top: 20px;
                        font-size: 36px;
                        font-weight: bold;

                        br {
                            display: none;
                        }
                    }
                }
            }

            div.play-box {
                width: 100%;
                max-width: 900px;

                div.youtube-play {
                    position: relative;
                    padding-bottom: 56.25%;

                    a {
                        position: absolute;
                        min-width: 100%;
                        min-height: 100%;
                        z-index: 1;

                        img {
                            border-radius: 10px;
                        }

                        span {
                            background: url(../img/btn_video_play.png) no-repeat;
                            background-size: cover;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            width: 85px;
                            height: 85px;
                            transform: translate(-50%, -50%);
                        }
                    }

                    iframe {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        border-radius: 10px;
                        
                    }
                }
            }

            div.youtube-list-container {
                display: flex;
                flex-direction: column;
                margin-left: 40px;
                justify-content: space-between;

                div.text-box {
                    display: flex;
                    flex-direction: column;
                    padding: 40px 0px 220px;

                    span {
                        &:nth-child(1) {
                            font-size: 20px;
                        }

                        &:nth-child(2) {
                            margin-top: 20px;
                            font-size: 36px;
                            font-weight: bold;
                        }
                    }
                }
                div.swiper {
                    width: 500px;

                    div.btn {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;

                        >div {
                            position: relative;
                            height: 27px;
                        }

                        .swiper-pagination {
                            width: 10%;

                            bottom: -5px;
                        }

                        .swiper-button-prev {
                            border-style: none;
                            background: url(../img/select.jpg) no-repeat center center;
                            width: 27px;
                            height: 27px;
                            transform: rotate(90deg);
                            cursor: pointer;

                            &::after {
                                content: "";
                            }
                        }

                        .swiper-button-next {
                            border-style: none;
                            background: url(../img/select.jpg) no-repeat center center;
                            width: 27px;
                            height: 27px;
                            transform: rotate(-90deg);
                            cursor: pointer;

                            &::after {
                                content: "";
                            }
                        }
                    }

                    div.swiper-wrapper {
                        div.swiper-slide {
                            width: 147px;
                            overflow: hidden;
                            cursor: pointer;
                            img {
                                border-radius: 5px;
                                margin: 5%;
                                width: 90% !important;
                            }
                            div {
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                font-size: 12px;
                                margin-top: 5px;
                                padding: 0 8px !important;
                            }
                             &.active {
                                background: #282828;
                                border-radius: 5px;
                                max-width: 100%;
                                overflow: hidden;
                                padding-bottom: 5px;

                                div {
                                    color: #ffffff;
                                }
                            } 
                        }
                    }

                }

            }
        }

        /*------------------ celeb -----------------------*/
        div.celeb-visual-container {
            max-width: 1400px;
            margin: 150px auto 150px;
            overflow: hidden;
            position: relative;

            div.celeb-visual-list {
                position: relative;

                button {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    color: #fff;
                    transform: translate(0, -50%);
                    border: none;
                    text-indent: -9999px;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(172deg) brightness(103%) contrast(101%);
                    cursor: pointer;
                }

                button:nth-of-type(1) {
                    background: url(../img/chevron-left.svg);
                }

                button:nth-of-type(2) {
                    background: url(../img/chevron-right.svg);
                    right: 0%;
                }

                div.celeb-view {
                    position: relative;

                    a {
                        div.img-box {
                            width: 100%;

                            img {
                                width: 100%;
                                height: 700px;
                                object-fit: cover;
                            }
                        }

                        div.celeb-text-box {
                            position: absolute;
                            bottom: 10%;
                            left: 0;
                            margin-left: 15px;

                            p {
                                color: #fff;
                                font-size: 20px;
                                font-weight: bold;
                            }

                            div {
                                border: 1px solid #fff;
                                color: #fff;
                                text-align: center;
                                width: 60px;
                                height: 20px;
                                font-size: 12px;
                                line-height: 20px;
                                font-weight: normal;
                                margin-top: 10px;
                            }
                        }
                    }

                    &:hover {
                        div.celeb-text-box {
                            div {
                                color: #000000;
                                background-color: #fff;
                            }
                        }
                    }
                }

                /* } */
            }
        }

        /* reivew */
        div.review-container {
            background: #f3f4f6;
            margin-top: 150px;
            padding: 40px 40px;

            h2 {
                padding: 0px 0px 30px;
                text-align: center;
                font-weight: bold;
                font-size: 2rem;
            }

            div.visual-box {
                button {
                    position: absolute;
                    top: 50%;
                    width: 30px;
                    height: 60px;
                    transform: translateY(-100%);
                    z-index: 1;
                    background: url(../img/newmain_slide_arr.png) no-repeat;
                    cursor: pointer;
                }

                button.right {
                    right: 10%;
                    transform: translate(100%, -50%);
                    background-position-x: -30px;
                }

                button.left {
                    left: 10%;
                    transform: translate(-100%, -50%);
                }

                div.review-list-box {
                    max-width: 1400px;
                    margin: 0 auto;
                    overflow: hidden;

                    position: relative;

                    div.review-list {
                        display: flex;

                        div.review-visual-box {
                            width: 350px;
                            flex-shrink: 0;

                            div.review-visual {
                                max-width: 290px;
                                padding: 15px;
                                background: #fff;
                                margin: 0 auto;

                                a {
                                    img {
                                        border-radius: 10px;
                                    }
                                }

                                div.review-text {
                                    div {
                                        width: 100%;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;

                                        &:nth-of-type(1) {
                                            text-align: left;
                                            margin-top: 25px;
                                            padding: 0 8px;
                                            font-size: 16px;
                                            font-weight: bold;
                                        }

                                        &:nth-of-type(2) {
                                            text-align: left;
                                            margin-top: 10px;
                                            padding: 0 8px;
                                            font-size: 15px;
                                        }

                                        &:nth-of-type(3) {
                                            text-align: left;
                                            margin-top: 10px;
                                            font-size: 14px;
                                            padding: 0 8px;
                                            padding-bottom: 30px;
                                            position: relative;

                                            &::after {
                                                content: "";
                                                width: 100%;
                                                height: 1px;
                                                border-bottom: 1px solid #eee;
                                                display: block;
                                                position: absolute;
                                                bottom: 0px;
                                            }
                                        }
                                    }
                                }
                            }

                            div.review-prod {
                                margin-top: 20px;
                                display: flex;

                                a {
                                    width: 80px;
                                    height: 80px;

                                    img {
                                        border-radius: 0px;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                div.review-sub-text {
                                    max-width: 190px;
                                    padding-left: 15px;

                                    div.heart-box {
                                        float: right;
                                        background: url(../img/heart-thin-outline.svg) no-repeat;
                                        background-size: cover;
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;
                                        margin-bottom: 9px;
                                    }

                                    div {
                                        float: left;
                                        width: 100%;

                                        p {
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            font-size: 13px;
                                            letter-spacing: -0.02em;
                                            font-weight: bold;
                                            margin-bottom: 5px;
                                        }

                                        span {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* instar */
        div.instar-container {
            padding: 0px 20px;

            div.instar-content {
                max-width: 1400px;
                margin: 150px auto 0px;
                text-align: center;

                h2 {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 2rem;
                }

                h3 {
                    margin: 0 0 50px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 22px;
                }

                div.visual-instar {
                    ul {
                        display: flex;

                        li {
                            margin-right: 25px;

                            a {
                                img {
                                    width: 100%;
                                    border-radius: 5px;
                                    object-fit: cover;
                                }
                            }

                            &:nth-last-child(1) {
                                margin-right: 0px;
                            }
                        }
                    }
                }

                div.m-visual {
                    display: flex;
                    justify-content: center;
                    display: none;

                    a {
                        width: 40%;
                        margin: 5px;

                        img {
                            width: 100%;
                            border-radius: 5px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        /* sns */
        div.sns-btn-box {
            margin: 60px auto;
            padding: 0px 20px;

            div {
                display: flex;
                justify-content: center;

                ul {
                    display: flex;

                    li {
                        width: 45px;
                        height: 45px;
                        background: url(../img/sns_more_btn.png) no-repeat;
                        background-size: cover;
                        margin: 0 6px;
                        opacity: 0.6;

                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }

                        &:nth-child(2) {
                            background-position-x: -45px;
                        }

                        &:nth-child(3) {
                            background-position-x: -90px;
                        }

                        &:nth-child(4) {
                            background-position-x: -135px;
                        }

                        &:nth-child(5) {
                            background-position-x: -180px;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        /* banner */
        div.info-banner {
            margin: 0px auto;
            display: flex;
            justify-content: center;
            padding: 50px 20px;
            border-bottom: 1px solid #e4e4e4;

            div.banner-box {
                border: 5px;
                margin-right: 20px;

                a {
                    img {
                        width: 100%;
                        border-radius: 5px;
                    }
                }

                s &:nth-last-child(1) {
                    margin-right: 0px;
                }
            }
        }

        /* notice */
        div.notice-container {
            max-width: 1400px;
            margin: 0px auto;

            div.notice-content-box {
                position: relative;
                padding: 40px 0px;

                div.notice-content {
                    display: flex;
                    align-items: center;
                    margin: 0 30px;
                    h2 {
                        width: 140px;
                        float: left;
                        font-size: 24px;
                        font-weight: bold;
                    }

                    div.notice-list-box {
                        float: left;
                        height: 24px;
                        width: 100%;
                        margin-left: 30px;
                        button {
                            position: absolute;
                            top: 0;
                            text-indent: -9999px;
                            width: 40px;
                            height: 40px;
                            border: 1px solid #e0e0e0;
                            border-radius: 50%;
                            background: url(../img/newmain_icons.png) no-repeat;
                            transform: translate(0, -50%);
                            cursor: pointer;
                        }

                        button:nth-of-type(1) {
                            right: 100px;
                            z-index: 10;
                            background-position: -76px;
                        }

                        button:nth-of-type(2) {
                            background-position: -109px;
                            right: 50px;


                        }

                        div.notice-list {
                            height: 24px;

                            ul {
                                li {
                                    a {
                                        p {
                                            font-size: 16px;
                                            display: inline-block;
                                        }

                                        span {
                                            display: inline-block;
                                            margin-left: 40px;
                                            color: #cecece;
                                            font-weight: lighter;
                                            font-size: 16px;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }

                /*                 div.button-box {
                    float: right;
                    position: relative;
                    top: -15px;

                    button {
                        width: 40px;
                        height: 40px;
                        border: 1px solid #e0e0e0;
                        border-radius: 50%;
                        background: url(../img/newmain_icons.png) no-repeat;
                        transform: translate(0, -50%);
                        cursor: pointer;
                    }

                    button.button-left {
                        background-position: -76px;
                        position: absolute;
                        left: -100px;
                    }

                    button.button-rigth {
                        background-position: -109px;

                        position: absolute;
                        left: -50px;
                    }
                } */
            }
        }
    }
}

@import "index_media";