@media (max-width: 768px) {
    main {
        div.login-content-container {
            div.login-content {
                div.container {
                    display: block;
                    padding: 0px 20px;

                    div.login-content-box {
                        text-align: center;
                        width: 100%;

                        margin: 0px;

                        form.login-content {
                            width: 100%;

                            &::after {
                                height: 1px;
                                width: 100%;
                                left: 0;
                                bottom: 0;
                            }
                        }

                        div.sns-content {
                            width: 100%;

                            p {
                                display: none;

                                &:nth-child(2) {
                                    display: block;
                                }
                            }

                            ul {
                                align-items: center;
                            }
                        }
                    }

                }
            }
        }
    }
}